[Unit]
Description=Robot API Service

[Service]
Type=simple
WorkingDirectory=/robot/api
ExecStart=/robot/api/venv/bin/api

[Install]
WantedBy=multi-user.target